---
layout: default
title: Publications
permalink: /publications.html
---

<div class="home">
  <ul class="post-list">
    {% assign sorted = site.publications | sort: 'date' | reverse %}
    {% for pub in sorted %}
      <li>
          <div class="noclass" style="vertical-align: middle; min-height: 100px; ">
              <div class="titles" style="width: 80%; float: left;">
                  <span class="post-meta"> <a class="post-outside" href="{{ pub.ref }}">{{ pub.date | date: "%Y" }} | {{ pub.publication }}  | {{ pub.status }}</a></span>
                  <h2> <a class="post-link" href="{{ site.baseurl | append: pub.url }}">{{ pub.title }}</a> </h2>
              </div>
              <div class="figure" style="width: 20%; float: right;">
                  {% if pub.figure != '' %} <img src="{{site.url}}/publications/{{pub.figure}}"> {% endif %}
              </div>
          </div>
      </li>
    {% endfor %}
  </ul>
</div>
